Write a Python function to check if a number is prime.

In [7]:
def test():
    num = 11
    if num > 1:
         for i in range(2, (num//2)+1):
             if (num % i) == 0:
                 print(num, "is not a prime number")
                 break
             else:
                 print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

In [8]:
test()

11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number

Write a Python function that returns the sum of elements in a list.

In [9]:
def sum(lst):
    sum = 0
    for i in lst:
        sum += i 
    return sum

In [10]:
sum([1,2,5,3,6,9])

26

Write a Python function to find the maximum of three numbers.

In [11]:
def max(num1,num2,num3):
    if num1>num2 and num1>num3:
        return num1
    elif num2>num1 and num2>num3:
        return num2
    else:
        return num3

In [12]:
max(12,24,9)

24

Write a Python program to read a text file and display its contents.

In [19]:
with open ('test.txt','w') as f:
    f.write("python is awesome")
    f.write("\ni love data science")

In [20]:
with open ('test.txt','r') as f:
    lines =f.readlines()
    print(lines)

['python is awesome\n', 'i love data science']

Write a Python program to count the number of lines in a file

In [33]:
file = "test.txt"
count = 0
with open(file, 'r') as f:
    for line in f:
        count += 1
print("Number of lines", count)

Number of lines 2

Write a Python program to write a list of numbers to a file.

In [35]:
numbers = [1, 2, 3, 4, 5]
with open("numbers.txt", "w") as f:
  for num in numbers:
    f.write(str(num) + "\n")

In [ ]:
Write a Python program to read a file and count the occurrence of a specific word.

In [36]:
f = open('test.txt', 'r')
con = f.read(6)
print(con)

python

Write a Python program to append text to an existing file.

In [37]:
with open ('test.txt','a')as f:
    f.write("\npython is my first programing language")
    f.write("\nhappy learning python")

Write a Python program to calculate the sum of elements in a list using list comprehension.

In [38]:
l=[1,2,3,6,96]
t = sum([i for i in l])

In [39]:
t

108

Write a Python program to count the number of words in a string.

In [1]:
text = "This is a sample string"
words = text.split()
word = len(words)
print(word)

5

Write a Python program using a lambda function to find the square of a number.

In [2]:
a =lambda s:s*2
a(5)

10

Write a Python program to handle division by zero using try-except.

In [5]:
a = int(input("enter a first number:"))
b = int(input("enter a second number:"))
try:
    c=a/b
    print(c)
except ZeroDivisionError:
    print("b can't be a zero")

enter a first number: 33
enter a second number: 0

b can't be a zero

Write a Python program to check if a key exists in a dictionary.

In [6]:
def test(**s):
    l=[]
    for i in s.keys():
            l.append(i)
    return l

In [9]:
test(a="sriram",b="aimnxt",c=2,d=99,e=True)

['a', 'b', 'c', 'd', 'e']

Write a Python program to remove duplicates from a list using a set

In [10]:
a = [1, 2, 2, 3, 4, 4, 5]

num = list(set(a))
print(num)

[1, 2, 3, 4, 5]

Write a function that takes a string and returns the reversed string.

In [26]:
def test2(*s):
    for i in s:
        return i[::-1]

In [27]:
test2("sriram")

'marirs'

Write a Python function that takes two numbers as arguments and returns their sum

In [28]:
def sum(a,b):
    return a+b

In [29]:
sum(2,4)

6

Write a function to check whether a given number is even or odd.

In [35]:
def test3(a):
        if a%2==0:
            print(a, "is even number")
        else:
            print(a,"is odd number")

In [36]:
test3(9)

9 is odd number

Write a function that takes a number as input and returns the square of that number.

In [42]:
def test4(a):
        return a*2

In [43]:
test4(4)

8

Write a function that takes a list of numbers and returns a new list containing only the even numbers.

In [7]:
def test5(*a):
    l=[]
    for i in a:
        if i%2 == 0:
            l.append(i)
    return l

In [8]:
test5(1,2,3,6,6,8,5,9,5,8,9,5,85,55)

[2, 6, 6, 8, 8]

Write a function that takes two strings and concatenates them

In [11]:
def test6(str1,str2):
    return str1+str2

In [12]:
test6("aim","nxt")

'aimnxt'

Write a function that returns multiple values (sum, difference, product, and quotient of two numbers).

In [23]:
def test(num1,num2):
    sum_ = num1+num2
    difference = num1-num2
    product = num1*num2
    if num2>0:
        q= num1/num2
    else:
        return "deviser is not zero"
    return sum_ ,difference ,product , q

In [26]:
test(18,256)

(274, -238, 4608, 0.0703125)

Write a function that takes a string and returns both its uppercase and lowercase versions.

In [ ]:
def test6()

Write a function that takes a list and returns a new list with unique elements only.

In [28]:
def test7(*a):
    l=[]
    for i in a:
        if i not in l:
            l.append(i)
    return l

In [29]:
test7(25,5,9,8,52,87,7,58,5,85,5)

[25, 5, 9, 8, 52, 87, 7, 58, 85]

Write a Python program to reverse a string using a for loop

In [30]:
l=["sriram"]

In [37]:
for i in l:
    print( i[::-1])

marirs

Write a Python program to print all odd numbers from 1 to 50 using a for loop and an if statement.

In [46]:
for i in range(1,50):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

Write a Python program to count how many numbers in a list are greater than 10.

In [47]:
l =[1,2,36,69,8,5,9,5,636,5,3,6,9,25]

In [60]:
count = 0
for i in l:
    if i>10:
        count +=1
print (count)

4

Write a Python program to print all numbers divisible by both 3 and 5 between 1 and 100.

In [67]:
for i in range(1,100):
    if i%3==0 and i%5==0:
     print(i)

15
30
45
60
75
90